<h4><i class="fab fa-product-hunt"></i> Gestion des produites</h4>
<button  class="btn btn-success" [routerLink]="['add']"><i class="fas fa-plus"></i> Ajouter </button>
<table class="table">
    <thead>
      <tr>
       
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantite</th>
        <th scope="col">Categorie</th>
        <th scope="col">Image</th>
        <th scope="col">  </th>
        <th scope="col">  </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of listProduit">
      
        <td>{{pro.id}}</td>
        <td>{{pro.nom}}</td>
        <td>{{pro.description}}</td>
        <td>{{pro.prix}}</td>
        
        <td>{{pro.quantite}}</td>
        <td>{{pro.categorie.nom}}</td>
        <td><a><img src="{{'http://127.0.0.1:8080/produit/getImage/'+pro.id}}" height="50px" width="50px"class="rounded"></a></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteProduit(pro.id)"onClick="window.location.reload();" ><i class="fas fa-trash"></i></button></td>
        <td><button type="button" class="btn btn-primary" [routerLink]="['update',pro.id]" ><i class="fas fa-edit"></i></button></td>
      </tr>
     
    </tbody>
  </table>
