<h4><i class="fas fa-users"></i> Gestion des Adminstrateurs</h4>
<hr>
<button  class="btn btn-success"   [routerLink]="['./add']"><i class="fas fa-plus"></i> Ajouter </button>
<table class="table">
    <thead>
      <tr>
        
       
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listUser">
      
        <td>{{user.username}}</td>
          
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        
        <td><button type="button" class="btn btn-danger"(click)="deleteUser(user.id)" onClick="window.location.reload();" ><i class="fas fa-trash"></i>  Supprimer</button></td>
        <td><button type="button" class="btn btn-primary" [routerLink]="['update',user.id]" ><i class="fas fa-edit"></i>Modifier</button></td>
      </tr>
     
    </tbody>
  </table>